body {
    background-color: rgb(108, 104, 104);
    color: rgb(255, 255, 0)
}
header{
    font-size: 50px;
    color: rgb(255, 0, 0);
    border-bottom: sold 15px rgb(29, 47, 110);
    text-align: center;
    font-family: "Playwrite DE Grund", cursive
}

section{
    background-color: rgb(129, 59, 161);
padding: 30px;
justify-content: center;
}
.chamada-texto{
    padding-right: 50%;
}