body {
    background-color: rgb(108, 104, 104);
    color: rgb(201, 201, 94)
}
header{
    font-size: 50px;
    color: whitesmoke;
    border-bottom: sold 15px gray;
    text-align: center;
}

section{
    display: flex;
    background-color: rgb(138, 98, 157);
    
}